{% extends 'base.html' %}
{% block title %}Профіль {{ profile.user.username }}{% endblock %}
{% block content %}
    <h1 class="my-4">Профіль користувача: {{ profile.user.username }}</h1>
    <div class="row">
        <div class="col-md-4">
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" class="profile-img mb-3" alt="{{ profile.user.username }}">
            {% else %}
                <img src="https://via.placeholder.com/150" class="profile-img mb-3" alt="Аватар">
            {% endif %}
        </div>
        <div class="col-md-8">
            <p><strong>Роль:</strong> {{ profile.get_role_display }}</p>
            <p><strong>Біографія:</strong> {{ profile.bio|linebreaks|default:"Біографія відсутня" }}</p>
            <a href="{% url 'core:user_profile_edit' %}" class="btn btn-primary">Редагувати профіль</a>
        </div>
    </div>
{% endblock %}